body {
  background-color: black;
  color: white;
  font-family: 'Poiret One';
  font-size: 14px;
}

.now_playing {
  font-size: 34px;
  margin: 8px 0px 8px;

}

.current_song {
  font-size: 19px;
  height: 19px;
  margin: 5px 0px 10px;
  color: orange;
}

.list_header {
  font-size: 24px;
  height: 60px;
  vertical-align: bottom;
}

.lib_header {
  border-bottom: 1px solid orange;
}

td {
  padding-right: 5px;
}

.list_header button {
  font-size: 10px;
  color: orange;
  margin-left: 5px;
}

audio {
  height: 35px;
/*  border: 3px solid orange;
  border-radius: 4px*/
}

.list_header input {
  /*display: none;*/
  padding: 0;
  border: 0;
  overflow:hidden;
  height: 0px;
  width: 120px;
  font-size: 14px;
  color: black;
  float: below;
  position: relative;
  top: 30px;
  right: 80px;
  z-index: 1;
  transition:height 0.05s ease-in;
}

#queue_header, #playlists_header {
  border-bottom: 1px solid orange;
}

button {
  /*background-color: grey;*/
}
